body {


	height: 800px;
	background-image: url("../images/2.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: right top;
	

}

#top{
	width: 750px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;

}

/* unvisited link */
a {
    color: black;
    text-decoration: none;

}

a:hover {
	color: purple;
}


#top #links a{
		width: 150px;
		height: 30px;
		display: block;
		float: left;
		border: 5px solid #59daf0;
		margin: 5px;
		background-color: #59daf0;
		font-size: 20px;
		font-family: "Trebuchet MS", Helvetica, sans-serif;
		text-align: center;
		vertical-align: middle;
	
}

#links{
	
	width: 680px;
	margin-left: auto;
	margin-right: auto;
}

h1{
	color: blue;
}

#top img{
		width: 750px;
		height: 100px;
		display: block;
		margin-left: auto;
		margin-right: auto;
		
}

#mid{
	width: 750px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	border: 15px solid;
	border-color: yellow;
	background-color: white;

}

#health {
	width: 700px;
	margin-left: auto;
	margin-right: auto;

}

#health p {
	font-family: sans-serif;
	font-size: 14px;
}

#bottom{
	width: 750px;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid #03bbbd;

}


.clean {
		clear: both;
}