#gallery {

		width: 750px;
		margin-left: auto;
		margin-right: auto;

		}

#gallery img {

		width: 181px;
		height: 181px;
		max-width: 100%;
		border: 3px solid black;

		display: block;
		float: left;

			}